.endereco {
    margin-top: 15px;
    
}

#posicaoendereco {
    margin-top: 15px;
    margin-left: 15px;
    
}


#estiloendereco {
    color: #6B6463;
    font-family: Montserrat , cursive;
}


.estilocontato {
    text-align: center;
}