.politica{
    margin-top: 15px;
}

.politica{
    position: relative;
    right: 35px;
}


#posicaopolitica {
    margin-bottom: 10px;
}


#estilopolitica {
    color: #6B6463;
    font-family: Montserrat , cursive;
}



#estilotitulo {
      font-size: 18px;
}