.titulo__conteudo {
    color: #6B6463;
    font-family: Montserrat , cursive;
    font-size: 60px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: justify;
}


.titulo__conteudo02 {
    color: #6B6463;
   font-family: Montserrat , cursive;
   font-size: 25px;
   font-weight: 300;
   line-height: 37px;
   letter-spacing: 0em;
   text-align: left;
    width: 110%;

}